# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Env variables/secrets
env.yml

yarn.lock
package-lock.json

.env
.DS_Store


ovs-app-firebase-adminsdk-b9hfq-04afa17dbf.json
